/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(img/pexels-quang-nguyen-vinh-2131614.jpg);
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(img/pexels-rok-romih-3848158.jpg);
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(img/pexels-stein-egil-liland-1933239.jpg);
}
